{% extends 'base.html' %} {% block content %}

{% load static %}
<link rel="stylesheet" href="{% static '/singlepost.css' %}">

<div class="container">
    <div class="card">
      <div class="card-body">
        <h1>{% block title %} {{ object.title }} {% endblock title %}</h1>
        <p class="card-text">{{ post.author }} | {{ post.created_on }}</p>
        <p class="card-text ">{{ object.content | safe }}</p>
      </div>

      <div class="card-body">
        {% if new_comment %}
        <div class="alert alert-success" role="alert">
          <strong>your comment is succesfully posted!</strong> please wait for the admin's moderation
        </div>
        {% else %}
        <form method="POST" style="padding: 25%;">
          {% csrf_token %}
          {{ comment_form.as_p }}
          <button type="submit" class="btn btn-outline-warning mt-3">Submit</button>
        </form>
        {% endif %}
      </div>
    </div>
</div>
<!-- 
    <div class="">
      <div class="card-body">
        {% if new_comment %}
        <div class="alert alert-success" role="alert">
          Your comment is awaiting moderation
        </div>
        {% else %}
        <h3>Leave a comment</h3>
        <form method="post" style="margin-top: 1.3em;">
          {{ comment_form.as_p }}
          {% csrf_token %}
          <button type="submit" class="btn btn-primary  btn-lg">Submit</button>
        </form>
        {% endif %}
      </div>
    </div>
  </div>

    <div class="card">
      <div class="card-body">

          <h2>{{ comments.count }} comments section</h2>
      
          {% for comment in comments %}
          <div class="comments" style="padding: 10px;">
            <p class="font-weight-bold">
              {{ comment.name }}
              <span class=" text-muted font-weight-normal">
                {{ comment.created_on }}
              </span>
            </p>
            {{ comment.body | linebreaks }}
          </div>
          {% endfor %}
      </div>
    </div> -->



{% endblock content %}